<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="{{ path("app_index") }}">Wild Séries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle bg-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path("category_index") }}">All</a>
                    <a class="dropdown-item" href="{{ path("category_new") }}">Add</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle bg-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acteurs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path("actor_index") }}">All</a>
                    <a class="dropdown-item" href="{{ path("actor_new") }}">Add</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mes Favoris</a>
            </li>
        </ul>
        <div class="log">
            {% if app.user %}
                <a href="{{ path('app_profile') }}">Mon compte</a>
                <p>/</p>
                <a href="{{ path('app_logout') }}"> Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}"> Se connecter</a>
                <p>/</p>
                <a href="{{ path('app_register') }}">S'inscrire</a>
            {% endif %}
        </div>
    </div>
</nav>